@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #0d6efd;
    --primary-emphasis: #6ea8fe;
    --secondary: #6c757d;
    --secondary-emphasis: #a7acb1;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #0dcaf0;
    --success: #198754;

    --body-bg: #131925;
    --card-bg: #1c2333;
    --separator: #2d3340;
    --alt-bg: #161e2c;
    --sidebar-bg: #14202d;
    --master-bg: #2d3341;
    --header-bg: #2d3340;
    --active: #1c6a29;
}

html {
    scroll-behavior: smooth;
}